.items {
    min-height: 150px;
    max-height: 400px;
    width: 300px;
    overflow: scroll;
    overflow-x: hidden;
    cursor: pointer;

    &::-webkit-scrollbar {
        width: 0;  
        background: transparent;
    }
}

.cyphers {
    font-weight: 700;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 50px;
    background: var(--cyphers-btn-color);
}
