.Button {
    cursor: pointer;
    color: #000;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.error {
    background: var(--red-btn-color);
}

.withAddon {
    padding: 0 16px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.encrypt {
    background: var(--encrypt-btn-color);
}

.decrypt {
    background: var(--decrypt-btn-color);
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.fullWidth {
    width: 100%;
}
