.SplitPane {
    height: calc(100vh - var(--navbar-height));
    display: flex;
}

.result {
    border-top: 1px solid #909090;
}

.codePane {
    border-right: 1px solid #909090;
}

.code {
	height: 100%;
	pointer-events: none;
}

.actionSashWrap {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
