.Popup {
    position: relative;
}

.menu {
    margin-top: 20%;
    color: var(--card-txt-color);
    overflow: hidden;
    width: 250px;
    border-radius: 18px;
    border: 1px solid var(--border-card-color);
}

.active {
    background: var(--active-card-item);
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.disabled {
    opacity: 0.7;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}
