.InputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-color);
    background: none;

    &::placeholder {
        color: #969696;
    }
}

.readonly {
    opacity: 0.7;
}
