.app_dark_theme {
    --bg-color: #1e2021;
    --inverted-bg-color: #1a1a1a;
    --secondary-color: #c3c3c3;
    --text-color: #aaac27;
    --red-btn-color:  #f84833;
    --encrypt-btn-color: #fab92d;
    --decrypt-btn-color: #fbf1c7;
    --cyphers-btn-color: #a79a84;

    // code
    --code-bg: #fbf1c6;

    // card
    --card-color: #282828;
}
