.app_dark_theme {
    --bg-color: #141416;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #d8d8d8;
    --secondary-color: #c3c3c3;
    --inverted-primary-color: #383838;
    --inverted-secondary-color: #1c1c1e;

    // code
    --code-bg: #515151;

    // card
    --card-bg: #4a4a4a;

    // list
    --listbox-bg: #4a4a4a;
}
