.app_dark_theme {
    --bg-color: #1e2021;
    --inverted-bg-color: #1a1a1a;
    --primary-color: #d8d8d8;
    --secondary-color: #c3c3c3;
    --inverted-primary-color: #383838;
    --inverted-secondary-color: #1c1c1e;
    --text-color: #aaac27;

    // code
    --code-bg: #fbf1c6;

    // card
    --card-color: #282828;
}
