:root {
    --bg-color: #fafafa;
    --text-color: #57585e;
    --inverted-bg-color: #ebebeb;
    --red-btn-color: #f84833;
    --encrypt-btn-color: #428cd1;
    --decrypt-btn-color: #a79a84;
    --cyphers-btn-color: #adadad;

    // code
    --code-bg: #ddd;

    // card
    --card-bg-color: #535353;
    --card-txt-color: #2a2a2a;
    --border-card-color: #5c5c5c;
    --active-card-item: #fcbd2e;
}
