:root {
    --bg-color: #fff;
    --text-color: #000;
    --inverted-bg-color: #e8e4da;
    --red-btn-color: #f84833;
    --encrypt-btn-color: #d1a07b;
    --decrypt-btn-color: #888079;
    --cyphers-btn-color: #adadad;

    // code
    --code-bg: #ddd;

    // card
    --card-bg-color: #e8e4db;
    --card-txt-color: #2a2a2a;
    --border-card-color: #5c5c5c;
    --active-card-item: #a2a2a2cc;
}
