:root {
    --bg-color: #fafafa;
    --text-color: #57585e;
    --inverted-bg-color: #ebebeb;
    --red-btn-color: #f84833;
    --encrypt-btn-color: #fab92d;
    --decrypt-btn-color: #a79a84;

    // code
    --code-bg: #ddd;
}
