.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.btns, .icons{
    display: flex;
}

.cyphers {
    margin-left: 1rem;
    border-radius: 50px;
    background: var(--cyphers-btn-color);
}
