.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.btns, .icons{
    display: flex;
    align-items: center;
    
    .rightCornerBtn {
        font-weight: 700;
        width: 100px;
        margin: 2px;
    }
}
